.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.div-chamada-finalizar{
    margin-top: 100px;
    background: #df0109;;
    height: 54px;
    text-align: center;
    cursor: default;
}

.chamada-finalizar{
    color: white;
    line-height: 2;
}

.tabela-pedidos{
    margin-top: 40px;
}

.tabela-pedidos h2, .tabela-form h2{
    margin: 15px 0px;
    border-bottom: 2px solid #ca383d;
    font-size: 24px;
    color: #df020a;
    cursor: default;
}


.tabela-pedidos i, .tabela-form i{
    margin: 0 25px;
}


.tabela-pedidos table{
    width: 100%;
    border-collapse: collapse;
}

.tabela-pedidos tbody tr:first-child{
    font-weight: bolder;
    font-size: 20px;
}

.tabela-pedidos td{
    border-bottom: 1px solid #ca383d;
    padding: 8px;
}


.finalizar-pedido{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.finalizar-pedido h2{
    padding-right: 80px;
    margin: auto 0;
}

.finalizar-pedido button,.tabela-form button{
    background-color: var(--color_primary);
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 11px 2px;
    text-decoration: none;
    width: 20%;
    margin-top: 15px;
    border-radius: 6px;
    margin-right: 80px;
}

.tabela-pedidos i, .tebela-entrega i{
    color: #df0109;
    cursor: pointer;
    font-size: 30px;
    margin-left: 22px;
    cursor: default;
}

.case-img-finalizar{
    height: 165px;
}

.imagem-finalizar{
    max-width:100%;
    max-height: 100%;
}

.form-buy{
    margin-top: 30px;
}

.line-align{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-align{
    margin-right: 22px;
    margin-top: 12px;
}


.form-buy label{
    margin-right: 5px;
}

input[type="text"],.finalizar-form select  {
    font-size: 17px;
    height: 33px;
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    background: #fff;
    padding-left: 6px;
}

input:focus,
textarea:focus{
    outline: 0;
}

.tabela-form{
    margin-top: 95px;
}


.total-price-cart{
    margin-right: 6%;
}

.total-price-area{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}


input[type="text"]::-webkit-input-placeholder{
    color:rgb(138, 138, 138);
}

#oho{
    color:#504f4f;
    transition: .1s;
}

#oho:hover{
    color: cornflowerblue;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.individual{
    margin-left: 30px;
    margin-top: 18px;
}

.finalizar-form{
    max-width: 680px;
    margin: 50px auto;
}

.finalizar-form input,
.finalizar-form select{
    border: 1px solid #ccc;
}

.finalizar-form span{
    font-size: 13px;
    color: #df0109;
    cursor: default;
}



.pay-card{
    position: absolute;
    background-color: white;
    max-width: 900px;
    padding: 20px 2%;
    height: 607px;
    width: 94%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    z-index: 9;
}

.modal-bg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 148.7%;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
}

.success-buy{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.success-buy i{
    font-size: 60px;
    margin: 30px 0;
    color: green;
}

.success-buy p{
    margin: 15px 0;
    font-size: 25px;
}


.success-buy a button.return-home{
    width: 100%;
    margin-top: 46px;
    margin-right: 70px;
}


.result-cep{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.result-cep table{
    width: 540px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.result-cep tbody .letter{
    font-size: 22px;
    font-weight: 500;
    height: 65px;
}


.result-cep tbody tr{
    font-size: 20px;
    text-align: center;
    height: 45px;
}

.retorno td input{
    height: 20px;
    width: 20px;
}



#loadingmessage{
    height: 85px;
    margin-top: 30px;
}

#loadingmessage img{
    height: 100%;
}

.frete-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.alert-empty-cart{
    color: white;
    background: #df0109;
    text-align: center;
    margin: 190px 0;
    height: 190px;
    
}

.alert-empty-cart h2{
    padding-top: 50px;
    padding-bottom: 18px;
    font-size: 32px;
}

.alert-empty-cart button{
    background-color: white;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #df0109;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 0px;
    text-decoration: none;
    width: 20%;
    margin-top: 8px;
    border-radius: 6px;
}


.space{
    height: 140px;
}




.div-final-price{

    width: 600px;
    border-radius: 14px;
}