*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


body{
    background: url('../images/bg_login_2.png');
    min-height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.w50{
    width: 50%;
}


section{
    height: 100vh;
    width: 100%;
    display: flex;
}

section div.screen{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

section div.space{
    width: 40%;
    height: 100%;
}

section div.form-div{
    width: 65%;
    height: 600px;
    background-color: #DF0711;
    border-radius: 25px;
    display: flex;
    box-shadow: 20px 14px 22px 0px #afaaaa;
    flex-direction: column;
}

section div.form-animation{
    width: 100%;
    padding: 110px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);
    animation-name: changeColor;
    animation-duration: 1s;
}

.form2{
    display: none;
    width: 100%;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);
    border-radius: 0 0 24px 24px;
    justify-content: center;
}


.form2 label{
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.form2 div.enter{
    color:black;
}

.form2 .social-media a{
    color: rgb(12, 11, 11);
    font-size: 30px;
}

.form2 .forgot a{
    color: black;
}

/* .form2  button.enter {
    box-shadow: 0px 10px 14px -7px #e6333c;
    background-color: #df0711;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 28px;
    text-decoration: none;
    border: 0;
} */

.screen .title{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-family: "Open Sans";
}

.login{
    text-align: center;
}

.sign_area{
    text-align: center;
    background-color: #fff;
    border-radius: 0px 24px 0px 0px;
    color: #df0711;
    cursor: pointer;
}

.form{
    width: 100%;
    padding: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);
}

.form form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.form label{
    color: white;
    font-size: 19px;
}

div.enter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 0;
    color: white;
}

.form input[type='text'],
.form input[type='email'],
.form2 input{
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 275px;
    padding: 10px;
}

.form input[type='text']:focus,
.form input[type='email'],
.form2 input{
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 275px;
    padding: 10px;
}

.form input[type='text']:focus,
.form input[type='email']:focus,
.form2 input:focus{
    outline: 0;
}

.sub-button{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form .sub-button .enter{
    box-shadow: 0px 10px 14px -7px #e6333c;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    color: #df0711;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 28px;
    text-decoration: none;
    border: 0;
    width: 280px;
    margin: 0px 4px;
}


.sign-up{
    box-shadow: 0px 10px 14px -7px #e6333c;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    color: #df0711;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 28px;
    text-decoration: none;
    border: 0;
    width: 270px;
}

.social-media{
    color: white;
    font-size: 30px;
}

.social-media a,.forgot a{
    color: white;
}

.social-media,.forgot{
    margin: 8px 0;
}


.form .social-media a:hover{
    animation: colorIconF1 1s;
}

.form2 .social-media a:hover{
    animation: colorIconF2 1s;
}



@media screen and (max-width:768px) {

    .space{
        display: none;
    }

    section div.screen {
        width: 100%;
    }

    body{
        background-image: url('../images/bg_login_mobile.png');
    }

    h2{
        font-size: 22px;
    }

    .form{
        padding: 90px 0;
    }

    .form form{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    .form2 form{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    .form input[type='text'],
    .form input[type='email'], .form2 input {
        width: 100%;
    }

    section div.form-div {
        width: 83%;
    }


    .form2{
        border-radius: 0px 0px 24px 24px;
        height: calc(100% - 30px);
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 0;
    }

    div.enter{
        margin: 8px 0px;
        padding:0px calc(6% - 2px);
    }

}


@media screen and (max-width:368px){
    .form .sub-button button.enter{
        width: 100px;
        padding: 9px 18px;
    }
}


@keyframes changeColor {
    from{
        background-color:#DF0711 ;
    }

    to{
        background-color:white ;
    }
}

@keyframes colorIconF1 {
    from{
        
        color:black;
    }

    to{
        color:white ; 
    }
}

@keyframes colorIconF2 {
    from{
        
        color:#DF0711;
    }

    to{
        color:rgb(0, 0, 0) ; 
    }
}