
/*
### Filter Page
*/

.filter-contents{
    height: auto;
}

.filter-columns{
    display: flex;
}

.filters{
    width: 22%;
}
.filters h3{
    display: inline-block;
}

.filters i{
    font-size: 20px;
}

.filters .filter-case{
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #adadad;
}

.filter-options{
    margin-left: 30px;
}

.filter-options div{
    padding: 5px 0;
}

.result-items{
    width: 78%;
    display: flex;
    flex-direction: column;
}

.breadcrumbs{
    padding-top: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.breadcrumbs i{
    font-size: 12px;
    padding: 0 2px;
    
}

.breadcrumbs a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}

/*
### Details Items Page
*/

.details-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.details{
    width: 40%;
}

.item-box{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.images{
    display: flex;
    width: 60%;
}

.nav-images{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 140px;
}

.thumbnail img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 140px;
    max-width: 100%;
    height: 130px;
}

.image-show{
    width: calc(100% - 146px);
}

.image-show img{
    max-width: 100%;
    max-height: 100%;
}

/* Details Div */


.item-seal{
    font-size: 17px;
    padding-bottom: 12px;
}

.product-name{
    font-size: 40px;
    padding: 12px 0;
}

.line-info{
    padding-bottom: 12px;
}

.product-quantity{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.product-quantity input{
    width: 40px;
    height: 40px;
    text-align: center;
}

.positioner{
    padding-left: 14px;
}

.price-and-buy{
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.cep-area{
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}