.filter-contents{
    height: auto;
}

.filter-columns{
    display: flex;
}

.filters{
    width: 22%;
}
.filters h3{
    display: inline-block;
}

.filters i{
    font-size: 20px;
}

.filters .filter-case{
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #adadad;
}

.filter-options{
    margin-left: 30px;
}

.filter-options div{
    padding: 5px 0;
}

.result-items{
    width: 78%;
    display: flex;
    flex-direction: column;
}

.breadcrumbs{
    padding-top: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.breadcrumbs i{
    font-size: 12px;
    padding: 0 2px;
    
}

.breadcrumbs a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}


