
/*
### Filter Page
*/

.filter-contents{
    height: auto;
}

.filter-columns{
    display: flex;
}

.filters{
    width: 22%;
}
.filters h3{
    display: inline-block;
}

.filters i{
    font-size: 20px;
}

.filters .filter-case{
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #adadad;
    cursor: pointer;
}

.filter-options{
    margin-left: 30px;
    display: none;
}

.filter-options-price{
    margin-left: 30px;
}


.filter-options div{
    padding: 5px 0;
}

.result-items{
    width: 78%;
    display: flex;
    flex-direction: column;
}

.breadcrumbs{
    padding-top: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.breadcrumbs i{
    font-size: 12px;
    padding: 0 2px;
    
}

.breadcrumbs a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}

/*
### Details Items Page
*/

.details-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.details{
    width: 40%;
}

.space-details{
    margin-left: 35px;
}

.item-box{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 5px;
}

.images{
    display: flex;
    width: 60%;
}

.nav-images{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 143px;
    cursor: pointer;
    max-height: 910px;
    overflow: overlay;
}

/* Scroll Bars */

.nav-images {
    scrollbar-width: thin;
}

.nav-images::-webkit-scrollbar {
width: 12px;
}

  /* *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  } */


.thumbnail{
    height: 185px;
}

.thumbnail img{
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    max-width: 100%;
    height: 100%; 
}



.image-show{
    width: calc(100% - 146px);
    border: 1px solid #ddd;
    max-height: 908px;
}

.image-show img{
    max-width: 100%;
    max-height: 100%;
}

/* Details Div */

.details-box .breadcrumbs{
    margin-bottom: 12px;
}

.item-seal{
    padding: 6px;
    margin-bottom: 35px;
    width: 100%;
    background: var(--color_primary);
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 17px;
}



.product-name{
    font-size: 40px;
    padding: 12px 0;
}

.line-info{
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
}

.product-quantity{
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    align-content: stretch;
    justify-content: space-between;
}

.variations-container{
    margin-right: 20px;
}

.variation-select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.variation-select select{
    height: 45px;
    min-width: 125px;
}

.product-quantity input{
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;

}

.product-quantity label{
    font-size: 18px;
    font-family: 'Open Sans';
}

.positioner{
    padding-left: 27px;
}

.price-and-buy{
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #ddd;

}

.price-ind-case{
    align-self: flex-start;
    width: 86%;
    margin: 0 auto;
}

.buy-action{
    width: 65%;
    margin-top: 40px;
}

.price-and-buy .buy-action button{
    background-color: var(--color_primary);
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 22px;
    padding: 7px 25px;
    text-decoration: none;
    width: 95%;
}

.price p{
    font-weight: 600;
    font-size: 40px;
}

.price span{
    display: block;
}

.price a{
    color: black;
    text-decoration: underline
}


.cep-area{
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    border-bottom: 1px solid #ddd;
    font-size: 29px;
    flex-direction: column;
    align-content: center;
}

.alert-cep-area{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-cep{
    display: none;
    width: 100%;
    background-color: #f57c00;
    color: #504f4f;
    border-radius: 33px;
    margin-top: 8px;
    height: 51px;
    line-height: 50px;
    padding: 0 25px;  
}

.submit-area{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.cep-area input::-webkit-input-placeholder{
    color: rgb(138, 138, 138);
    font-weight: bold;
}

.cep-area input{
    height: 36px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.cep-area input:focus{
    outline-width: 0;
}

.cep-area button{
    background-color: var(--color_primary);
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 22px;
    padding: 4px 20px;
    text-decoration: none;
}


/* Description */


.lettering div h2{
    text-align: center;
    font-weight: 300;
    padding: 2px 0;
    font-size: 37px;
    font-family: 'Open Sans';
    z-index: 9999;
    color: white;
    box-shadow: 44px 3px white;
}  



.lettering .banner-l{
    background: var(--final_gradient);
    display: block;
    z-index: -1;
    width: 100%;
    height: 60px;
    left: 0;

}

.descript-general{
    height: 430px;
    background-color: #d02718;
    color: white;
    padding: 0 44px;
}

.descript-general p{
    padding: 7px 0;
    font-size: larger;
    font-weight: bold;
}

.especify{
    height: 560px;
    background-color: #d02718;
    color: white;
    padding: 0 44px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.especify p{
    padding: 7px 0;
    font-size: larger;
    font-weight: bold;
}


.filter-submit{
    display: flex;
    height: 36px;
    align-items: center;
    border: 0;
    background-color: var(--sec_footer);
    color: white;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    font-size: 19px;
    justify-content: center;
}

.hide-result{
    display: none;
}

#loadingmessage{
    height: 50px;
    margin-top: 30px;
}

#loadingmessage img{
    height: 100%;
}

.result-cep{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.result-cep table{
    width: 315px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.result-cep tbody .letter{
    font-size: 22px;
    font-weight: 500;
}


.result-cep tbody tr{
    font-size: 16px;
    text-align: center;
}

