@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Dancing+Script:wght@500;600;700&family=Gideon+Roman&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,600&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}



 /* Variables */
html{
    /* bg header */
    --color_primary:#DF0711;
    --final_gradient:#9e050c;

    /* bg nav */
    --bg_nav:#ccc;
    --bg_li:rgb(223, 222, 222);
    
    /* footer */
    --sec_footer:#c9040e;

}   

/* Auxilliar Classes */ 

.container{
    max-width: 1600px;
    padding: 0 2%;
    margin: 0 auto;
}



.w10{
    width: 10%;
}

.w20{
    width: 20%;
}

.w35{
    width: 35%;
}

.w33{
    width:33.3%;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

div.autow{
    width: auto;
}

.sans{
    font-family: 'Open Sans';
}


.clear{clear: both;}

.line_bot{
    border-bottom: 2px solid white;
}


/*
# 
##Sections
# 
*/

/*Modal*/

.modal-bg{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6);
}

/* header */ 

header{
    height: 100px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 8;
    top: 0;
    box-shadow: 0px 3px 13px 0px #a39e9e;
}

.desktop-header{
    display: flex;
    height: 100px;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-header{
    display: none;    
}

.list-nav a{
    color: white;
}

.logo-desktop{
    width: 20%;
}

.logo-mobile{
    display: none;
}



.logo-desktop a > img{
    max-width: 100%;
    max-height: 100px;
}

.logo-desktop a{
    position: absolute;
}

.nav-desktop{
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.nav-desktop li{
    display: inline-block;
    padding: 0 10px;
    color: #df0109;
    text-decoration: none;
}

.nav-desktop ul{
    display: flex;
    align-content: center;
    align-items: center;
}

.nav-desktop a{
    display: flex;
    align-content: center;
    align-items: center;
}

.nav-desktop i{
    color: #df0109;
    font-size: 30px;
    cursor: pointer;
}

.form-field{
    display: none;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #df0109;
    outline: 0;
    font-size: 1.3rem;
    color: #df0109;
    width: 330px;
    background: transparent;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.562);
}

.bag-shipping{
    width: auto;
    margin-bottom: 8px;
}

.bag-shipping i{
    font-size: 35px;
    height: auto;
}

.num-cart{
    background-color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #df0109;
    cursor: pointer;
}

.cart-sidebar{
    display: none;
    width: 300px;
    min-height: 400px;
    background: #df0109;
    position: relative;
    top: -31px;
    right: -9px;
    z-index: 10;
    float: right;
}

.cart-sidebar::before{
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: 21px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #df0109;
}

.cart-sidebar::after {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    height: 16px;
    z-index: -1;
    width: 100%;
    left: 0;
}

/* Fim Header*/

/* Footer*/


.sec-footer{

    bottom: 0;
    width: 100%;
    background-color: var(--sec_footer);
}

.footer-single{
    display: inline-block;
    width: 20%;
    color: white;
}

.footer-single li{
    list-style: none;
    padding: 4px 0;
    font-weight: normal;
}

.footer-single h2{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
}

.footer-single a{
    color: white;
    text-decoration: none;
}

.F1{
    height: 190px;
    display: flex;
}


footer.F2{
    background-color: var(--color_primary);
    padding: 8px 0;
    text-align: center;
    color: white;
}

.box-footer{
    width: 170px;
}

.box-footer p{
    display: inline-block;
    padding-left: 2px;
    padding: 2px 3px;
}

.paiment{
    height: 136px;
    align-self: center;
    background: #da787d;
    text-align: center;
    vertical-align: auto;
}

.icon-list{
    font-size: 35px;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.seal{
    width: 180px;
    height: 73px;
    border: 1px solid #000000 ;
    background:#da787d ;
}

/* Fim Footer*/


/*Banner Cta*/
section.banner{
    width: 100%;
    max-height: 350px;
    padding-top: 5px;
}

section.banner img{
    max-width: 100%;
    height: auto;
}

/* Desk */

.desk{
    background-color: #fff;
}

.desk-box{
    display: flex;
}

.desk div.alert-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
} 

.align{
    width:25%;
    height: 130px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.desk div.alert-icon i{
    font-size: 48px;
    color: black;
    display: block;
    width: 57px;

}

.text-desk{
    font-size: 26px;
    width: 100%;
    text-align: center;
}

.p-balance{
    display: flex;
    flex-wrap: nowrap;
}

.desk div.alert-icon span{
    font-size: 26px;
    width: 100%;
    text-align: center;

}

.desk div.alert-icon .p-balance > p.zapzap{
    padding-left: 5px;
}


/* .align:not(:first-child){
    border-left: 1px solid #adadad;
} */

/* Fim Desk */  


/* Primary Nav */



.primary-nav{
    width: 100%;
    height: 50px;
    background: var(--bg_nav);
    display: flex;
    margin-top: 109px;
}


.primary-nav li{
    /* padding: 0px 12px; */
   /* border-right: 1px solid #ccc; */
   background-color: var(--bg_li);
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;

}

nav.primary-nav li  button{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
    font-size: 14px;
    height: 50px;
    width: 80px;
    border: none;
    background-color: var(--bg_li);
    cursor: pointer;
}

.primary-nav button:hover{
    background-color: white;
}


/*
### itens
*/

div.banner-p{
    display: block;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 91px;
    left: 0;
}


.promo-section h2,.indications h2{
    text-align: center;
    font-weight: 300;
    padding: 5px 0;
    font-size: 37px;
    font-family: 'Open Sans';
    z-index: 2;
    color: white;
    background-color: #df5056;
}

.offers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
}

.offers .item{
    width: 20%;
    box-sizing: border-box;
    min-height: 390px;
    padding: 0 10px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.result-items .offers .item {
    width: 25%;
    box-sizing: border-box;
    height: 382px;
    padding: 0 10px;
    margin-bottom: 25px;
}

.discount{
    font-size: 19px;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #de0610;
    text-align: center;
    padding: 9px 0px;
    color: white;
    font-weight: 600;
    z-index: 1;
    top: -10px;
    left: -10px;
}


.offers .item > .product{

    border: 1px solid #adadad2e;
    width: 100%;
    position: relative;
    flex-direction: column;
    padding: 3px;
    height: 100%;
}

.product .product-image{
    position: relative;
    display: flex;
    justify-content: center;
    width: 85%;
    min-width: 190px;
}

.product .product-image a{
    display: flex;
    justify-content: center;
    width: 100%;
}

.product .product-image img{
    display: block;
    max-width: 75%;
    width: auto !important;
    max-height: 145%;
    justify-content: center;
    z-index: -5;
}

div.product{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

div.product-name{
    margin: 0px 0px 5px;
    font-size: 19px;
    padding: 0px 0px;
    line-height: 1.23;
    letter-spacing: 0.28px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    text-align: center;
    max-height: 50px;

}

.result-items div.product-name {
    padding: 0px 40px;
}


.price-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans";
    padding-bottom: 18px;
}

.price-box .price-item{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.divisions span:nth-child(2){
    color: #c9040e;
}

.price-box .price-before{
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}

.price-box .price-off{
    font-size: 27px;
    font-weight: 600;
}

.add-to-cart{
    display: flex;
}


.add-to-cart input{
    width: 40px;
    height: 30px;
    text-align: center;
}

.add-to-cart button{
    display: flex;
    height: 31px;
    align-items: center;
    border: 0;
    background-color: var(--sec_footer);
    padding: 0px 10px;
    margin-left: 15px;
    color: white;
}

.add-to-cart button:hover {
	background:linear-gradient(to bottom, var(--sec_footer) 5%, #f24537 100%);
	background-color:#c62d1f;
    cursor: pointer;
}

.price-cart-allign{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-allign{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    min-height: 264px;
    border-bottom: 1px solid #ccc;
    flex-direction: column;
}


.under-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2px;
}

div .img-field{
    width: 200px;
    height: 235px;
    position: relative;
    display: flex;
    justify-content: center;
}

.img {
    display: block;
    max-width: 95%;
    padding-left: 5%;
    width: auto !important;
    max-height: 145%;
    justify-content: center;
    z-index: 1;
    position: absolute
}



.product .product-image .sec_img {
    display: block;
    max-width: 95%;
    padding-left: 5%;
    width: auto !important;
    max-height: 145%;
    justify-content: center;
    z-index: 0;
    position: absolute;
}











































/* Responsivity */

@media screen and (max-width:607px) {


}


@media screen and (max-width:768px) {
    .logo-desktop{
        display: none;
        height: 200px;
    }

    .cart-sidebar{
        display: none;
    }

    header{
        height: 65px;
    }

    section.banner{
        padding-top: 5px;
    }

    .banner{
        margin-top: 64px;
    }

    .nav-desktop > .list-nav{
        width: 100%;
        padding: 14px 150px;
        padding: 14px calc(50% - 80px);
    }
    .nav-desktop{
        width: 100%;
    }

    .desk-box{
        flex-wrap: wrap;
    }

    .align{
        width: 100%;
        border-bottom: 2px solid #adadad;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .desk div.alert-icon{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .desk div.alert-icon i{
        padding-left: 0;
        width: auto;
        padding-right: 3px;
    }

    .desk div.alert-icon span {
        padding: 0px 5px;
        font-size: 20px;
    }

    .desk div.alert-icon .p-balance > p.zapzap{
        padding-left: 5px;
    }

    .text-desk{
   
        font-size: 20px;
        width: auto;
        text-align: center;

    }


    .align:not(:first-child){
        border-left: 0;
    }

    .F1{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .footer-single{
        width: 50%;
    }

   .footer-single h2{
        text-align: center;

    }

    .footer-single li{
        text-align: center;
    }

    .box-footer{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        width: auto;
    }
    
    .seal{
        width: auto;
    }

    .primary-nav{
        display: none;
    }

    .desktop-header{
        display: none;
    }

    .mobile-header{
        display: flex;
        color: white;
        height: 65px;
    }

    .mobile-header h3:hover{
        cursor: pointer;
    }

    nav.mobile-header {
        display: none;
        background-color: #ccc;
        position: absolute;
        left: -2%;
        top: 65px;
        width: 104%;
        text-align: center;
    }



    .mobile-header .list-nav{
        float: right;
        display: flex;
        list-style: none;
        padding: 2px 0;
        font-size: 20px;
    }

    .mobile-header .list-nav li{
        display: inline-block;
        padding: 16px 0px 0px 7px;
    }

    .mobile-header i{
        font-size: 32px;
        padding-top: 14px;
        color: #de0610;
    }

    .mobile-header .list-nav i{
        font-size: 26px;
    }

    .logo-mobile{
        width: 120px;
        display: inline-block;
        margin-right: auto;
        margin-left: calc(50% - 85px);
    }

    .logo-mobile img{
        max-width: 100%;
        max-height: 100px;
    }

    .offers .item{
        width: 50%;
        height: 430px;
    }


    .divisions span:nth-child(2){
        color: #c9040e;
        display: block;
        text-align: center;
    }
}



@media screen and (max-width:1010px) {
    .form-field{
        width: 200px;
    }

    .nav-desktop li {
        padding: 0 4px;
    }

    .nav-desktop {
        letter-spacing: 0.6px;
    }
}


@media screen and (max-width:870px) {
    #tell-us{
        display: none;
    }

    .list-nav{
        margin:0px 10px ;
    }
}