@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Dancing+Script:wght@500;600;700&family=Gideon+Roman&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,600&display=swap');



/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}



 /* Variables */
html{
    /* bg header */
    --color_primary:#DF0711;
    --final_gradient:#9e050c;

    /* bg nav */
    --bg_nav:#ccc;
    --bg_li:rgb(223, 222, 222);
    
    /* footer */
    --sec_footer:#c9040e;

}   

/* Auxilliar Classes */ 

/* .container{
    max-width: 1600px;
    padding: 0 2%;
    margin: 0 auto;
} */



.w10{
    width: 10%;
}

.w20{
    width: 20%;
}

.w35{
    width: 35%;
}

.w33{
    width:33.3%;
}

.w50{
    width: 50%;
}


.h100{
    height: 100%;
}
/* .flex{
    display: flex;
} */

.flex-row{
    flex-direction: row;

}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}


.center{
    align-items: center;
    align-content: center;
    justify-content: center;
}

.space-top{
    margin-top: 5%;
}

.block{
    display: block;
}

div .correct-color{
    background: #2fa12fc4;
}

div.wait-color{
    background: #da9b1ed6;;
}

div.neutral-color{
    background: #4c61d5d1;;
}

.aguardando-pgto{
    background-color: #fbc02d;
}

.pgto-realizado{
    background-color: #69f0ae;
}

.pgto-cancelado{
    background-color: #f44336;
}

.pgto-generic{
    background-color: #ba68c8;
}

.pedido-recebido{
    background: #2fa12fc4;
}



.color-ind{
    border-radius: 100%;
    width: 26px;
    height: 26px;
    margin-left: 5px;
}

button{
    background-color: var(--color_primary);
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 0px;
    text-decoration: none;
    border-radius: 6px;
}

/* INICIO */

.user-table{
    width: 100%;
    min-height: 685px;
    border: 1px solid #cccccc63;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.opts-left{
    background-color: #ccc;
    /* border-right: 1px solid #0000001a; */
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.opt-row{
    cursor: pointer;
}

.opt-row a{
    color: black;
    height: 70px;
    padding: 0px 15px;
    /* margin: 12px 0; */
    background-color: #e2e0e0;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #aaa9a95c;

}

.opts-left .opt-row div{
    height: 100%;
}

.opt-icon{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opt-icon i{
    font-size: 30px;
}

.opt-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 50px)
}

.opt-description p{
    width: 100%;
    text-align: initial;
    margin-left: 20px;
    font-weight: 700;
    font-size: 22px;
}


/* DISPLAYS */

.display-right{
    background: #f0ecec;
    width: 78%;
    max-height: 684px;
    overflow: auto;
}


.config-display{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.user-icon{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100%;
}

.user-icon i{
    font-size: 39px;
    position: relative;
    left: 33%;
    top: 30%;
}

.data-button{
    height: 58px;
    background: #e96d73;
    border-radius: 10px;
    color:white;
    padding: 0 22px;
    margin: 0 20px;
    cursor: default;
}

/* Dados */

.enter{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
    margin: 0 25px;
    align-content: flex-start;
    justify-content: flex-end;
}


.enter input,.enter select{
    height: 36px;
    border: 1px solid rgb(163, 163, 163);
    font-size: 15px;
    padding-left: 8px;
}

.enter input::placeholder {
    color: rgb(124, 124, 124);
}

.enter label{
    height: 30px;
}


.pedido-individual{
    min-height: 200px;
    margin-bottom: 12px;
    border-bottom: 2px solid;
    background: aliceblue;
}

.pedido-status-top{
    height: 70px;
    width: 8px;
    /* background-color: aqua; */
    border-radius: 6px;
}

.pedido-status-date{
    margin-top: 17px;
    margin-right: 30px;
    background: #cecece9e;
    height: 85px;
    width: 110px;
    border-radius: 6px;
}

.transaction-id{
    margin-left: 16px;
    font-weight: 900;
}


.pedido-status-top{
    margin-top: 17px;
    margin-left: 11px;
}

.slide-indicator{
    height: 47px;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    font-size: 22px;
    color: #4f88b8;
}

.line-separation{
    height: 50px;
    margin: 0 auto;
    width: 94%;
    background-image: linear-gradient(to right, #3d7cb1e6 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 28px 2px;
    background-repeat: repeat-x;
}


.info-area{
    display: none;
    width: 94%;
    margin-left: 3%;

    margin-top: 12px;
    border-top: 1px solid #00000091;
    border-bottom: 2px solid #00000091;
}

.info-comprador{
    max-width: 50%;
    float: left;
}

.info-comprador .info{
    margin: 16px 0px;
}


.info-produto{
    float: right;
    width: 50%;
    min-height: 132px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.display-final-payment{
    max-width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    min-width: 288px;

}

.display-final-payment tr{
    text-align: center;
    font-size: 18px;
}

.display-final-payment th{
    background: #ccc;
    font-weight: bolder;
    height: 40px;
    font-size: 20px;
}


.estado-atual{
    width: 100%;
    min-height: 70px;
}

.estado-atual p{
    margin: 0 5px;
}

.retorno-total{
    background-color: #ff7b7b;
}

.cod-rastreio{
    height: 42px;
}



.enter-first{
    height: 55px;
    width:65%
}


@media screen and (max-width:500px){
    .opts-left div.opt-row {
        width: 50%; 
    }
    .w100 {
        width: 94%;
    }

    .opt-row .opt-description p{
        font-size: 16px;
    }

    .opt-row .opt-icon i {

    }

    .opt-icon{
        width: 38px;
    }

    .opt-row a{
        border: none;
    }
}



@media screen and (max-width:768px) {

    .opts-left{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .user-table {
        width: 100%;
        min-height: 685px;
        border: 1px solid #cccccc63;
        margin: 0 auto;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    /*  
    .respose-balance{
        max-width: 1600px;
        padding: 0 2%;
        margin: 0 auto;
    } */

    .config-display div{
        flex-direction: column;
    }

    .data-button{
        margin: 8px 20px;
    }

    .config-display .cont-data-btt{
        flex-direction: column;
    }

    .display-right{
        width: 100%;
    }

    .opts-align-resp{
        max-height: 211px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .opt-row{
        cursor: pointer;
        width: 33.3%;
    }

    .enter-first{
        height: auto;
        width: 30%;
        margin-bottom: 12px;
    }


    .opt-description p {
        font-size: 18px;
    }

    .opt-icon i {

    }
    .opt-row a{
        border: none;
    }
}