.lista-pedido{
    background-color: #f2eeee;
    height: 728px;
    overflow: auto;
}

.pedidos{
    width: 100%;
}

.ind-th{
    width: calc(100% / 5);
}

.lista-pedido i{
    
    font-size: 30px;
    cursor: pointer;
    width: 100%;
}


.lista-pedido i.fa-dolly{
    color: darkolivegreen;
}

.lista-pedido i.fa-pen-to-square{
    color: rgb(248 148 0);
}